.DrawerToggle {
	height: 46px;
	width: 60px;
	box-sizing: border-box;
	align-content: center;
	padding: 8px;
	top: 0;
	left: 0;
	cursor: pointer;
}

.DrawerToggle div {
	position: flex;
	background-color: white;
	border-radius: 5%;
	height: 5px;
	margin-bottom: 8px;
}
